
.login-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #8ee37f;
  background: linear-gradient(90deg,rgba(82, 199, 62, 1) 35%, rgba(237, 221, 83, 0.97) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-container {
  width: 80%;
  max-width: 1100px;
  max-height: 90vh;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(0,0,0,0.15);
}

/* ------------ LEFT ------------ */
.login-left {
  width: 50%;
  padding: 40px;
  background: #f4f4f0;
  display: flex;
  flex-direction: column;
}
.logo {
  font-family: 'Georgia', serif;
  font-style: italic;
  font-size: 1.9rem;
  text-decoration: none;
  color:  #333; 
}

/* ------------ FORM ------------ */
label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

/* PASSWORD FIELD */
.password-field {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
  user-select: none;
}

/* BUTTONS */
.btn {
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.signin {
  background: #ffcc00;
  margin-top: 20px;
}

.oauth-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.oauth-btn {
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
}

/* ------------ RIGHT ------------ */
.login-right {
  width: 50%;
  position: relative;
  background: #d4fdb0;
  padding: 20px;
  border-left: 5px solid #fff4d5;
}

.right-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.create-one{
  color: #3333ee;
  cursor: pointer;
}