
.login-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #d3d3dd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* ------------ CONTAINER ------------ */
.login-container {
  width: 80%;
  max-width: 1100px;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(0,0,0,0.15);
}

/* ------------ LEFT ------------ */
.login-left {
  width: 50%;
  padding: 40px;
  background: #f4f4f0;
  display: flex;
  flex-direction: column;
}

/* ------------ FORM ------------ */
label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

/* PASSWORD FIELD */
.password-field {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 12px;
  cursor: pointer;
  user-select: none;
}

/* BUTTONS */
.btn {
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.signin {
  background: #ffcc00;
  margin-top: 20px;
}

.oauth-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.oauth-btn {
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  font-weight: 500;
}

/* ------------ RIGHT ------------ */
.login-right {
  width: 50%;
  position: relative;
  background: #fdeeb0;
  padding: 20px;
  border-left: 5px solid #fff4d5;
}

.right-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* FLOATING TAGS */
.tag {
  position: absolute;
  background: white;
  padding: 12px 18px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.top-left {
  top: 40px;
  left: 40px;
  background: #ffda3b;
}

.bottom-left {
  bottom: 40px;
  left: 40px;
}

.right-box {
  right: 40px;
  top: 150px;
  width: 180px;
}

.season-dots {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.color-pills {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.pill {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}


/* ------------ RESPONSIVE ------------ */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    width: 95%;
  }

  .login-left,
  .login-right {
    width: 100%;
  }

  .login-right {
    height: 350px;
  }

  .right-img {
    height: 100%;
    object-fit: cover;
  }

  .tag {
    transform: scale(0.9);
  }
}

@media (max-width: 500px) {
  .login-left {
    padding: 25px;
  }

  .tag {
    display: none;
  }
}
